@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

body,
button {
  font-family: Montserrat,sans-serif;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 23px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 15px;
  color: gray;
  font-weight: 400;
}

body {
  font-size: 15px;
}

button {
  font-size: 13px;
}